<div class="row">
    <div class="container">
<div class="logo">

    <img src="../../../assets/arg-prog.png" id="logoAP"alt="">
</div>
<div class="redes">
    <div><button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
         <a href=""><img src="../../../assets/facebook.png" id="facebook" alt="https://www.facebook.com/martin.lucena.73"></a>
        <a href=""><img src="../../../assets/instagram.png" id="instagram" alt="https://www.instagram.com/martinlucena28/"></a>
        <a href=""><img src="../../../assets/github.png"  id="github" alt="https://github.com/MartinLucena28"></a>
        <a href=""><img src="../../../assets/linkedin.png" id="linkedin" alt="https://www.linkedin.com/in/claudio-martin-lucena-a3462a15b/"></a>
    </div>
    
</div>
    </div>
</div>
